{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            <table>
                {% if not assigned %}
                    <p>You have no tasks</p>
                {% else %}
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                    {% for item in assigned %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.start_date }}</td>
                            <td>{{ item.due_date }}</td>
                            <td>{{ item.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </main>
{% endblock %}
