{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            <h1>My Projects</h1>
            {% if not proj_list %}
                <p>"You are not assigned to any projects"</p>
            {% else %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </tr>
                    {% for item in proj_list %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' item.id %}">{{ item.name }}
                                </td>
                            </a>
                            <td>{{ item.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock %}
